BUILD_DEFINITION = %BUILD_DEFINITION%
BUILD_DEFINITION_UNDERSCORE = %BUILD_DEFINITION_UNDERSCORE%
BUILD_NUMBER = %BUILD_NUMBER%
BUILD_NUMBER_UNDERSCORE = %BUILD_NUMBER_UNDERSCORE%
BUILD_NUMBER_DEFAULT_SUFFIX = %BUILD_NUMBER_DEFAULT_SUFFIX%
SOLUTION_FILE = %SOLUTION_FILE%
SOLUTION_FILE_PATH = %SOLUTION_FILE_PATH%
SOLUTION_DIRECTORY_PATH = %SOLUTION_DIRECTORY_PATH%
BINARIES_DIRECTORY_PATH = %BINARIES_DIRECTORY_PATH%
BINARIES_DIRECTORY_PATH_SLASH = %BINARIES_DIRECTORY_PATH_SLASH%
